<!doctype html>
<html class="bg-black">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ url_for('static',filename='dist/output.css') }}" rel="stylesheet">
		<link href="{{ url_for('static',filename='styles/input.css') }}" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

		<title>Project 1</title>
	</head>

	<body>
		<div id="title" class="h-screen">
			<div class="relative">
				<div class="absolute top-8 left-16">
					<p class="text-white uppercase font-title text-sm w-96">AI Image Generation</p>
				</div>
				<div class="absolute top-7 right-16">
					<a href="#" class="col-span-1 text-gray-200 uppercase font-title text-sm mr-16">Home</a>
					<a href="#" class="col-span-1 text-gray-200 uppercase font-title text-sm mr-16">About</a>
					<a href="#" class="col-span-1 text-gray-200 uppercase font-title text-sm">FAQ</a>
				</div>
			</div>
			<div class="flex items-center justify-center h-screen relative">
				<div class="w-1/3" id="main-image">
					<img class="object-contain opacity-75" src="{{ url_for('static',filename='img/cyberpunk.png') }}">
				</div>
				<div class="absolute z-10 uppercase font-title font-bold text-9xl text-gray-200 tracking-widest" id="main-text">
					Morgenrot
				</div>
			</div>
		</div>

		<div id="generator" class="grid grid-cols-2 h-screen">
			<div>
				<div class="flex items-center justify-center h-screen">
					<div id="image-div" class="w-96 h-96 border-2 rounded-lg">
						<img src="{{ image_link }}">
					</div>
				</div>
			</div>

			<div>
				<div class="flex items-center justify-center h-screen">
					<form action="{{ url_for('process_form') }}" method="post">

						<label for="positive_input" class="text-gray-200 font-title uppercase">Input Text</label>
						<br>
						<textarea name="positive_input" id="positive_input" rows="5" cols="60" class="font-title rounded-lg"></textarea>
						<br>
						<br>
	
						<label for="negative_input" class="text-gray-200 font-title uppercase">Negative Input Text</label>
						<br>
						<textarea name="negative_input" id="negative_input" rows="5" cols="60" class="font-title rounded-lg"></textarea>
						<br>
						<br>
						
						<input type="submit" value="Generate" class="text-gray-200 font-title uppercase border-2 rounded-lg">
						
					  </form>
				</div>
			</div>
		</div>
	</body>

</html>